@model IEnumerable<FinalProject.Models.University>

@{
    ViewBag.Title = "UniversitiesManage";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
}
    <section>
        <h2>UniversitiesManage</h2>


        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfCreate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WebLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdditionalInfo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LanguageRequired)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfCreate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WebLink)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdditionalInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanguageRequired)
                    </td>
                    <td class="text-bg-dark text-warning">
                        @Html.ActionLink("Edit", "UpdateUniversity", new { id = item.ID }) |
                        @Html.ActionLink("Details", "UniversityPage", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "DeleteUniversity", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>
        <p class="text-bg-warning">
            @Html.ActionLink("Create New", "AddUniversity")
        </p>
    </section>