@model IEnumerable<FinalProject.Models.Admin>

@{
    ViewBag.Title = "ManageAdmin";
    Layout = "~/Views/Shared/_OurLayout.cshtml";
}

<h2>ManageAdmin</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfEngaged)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfEngaged)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td class="text-bg-dark">
                @Html.ActionLink("Edit", "UpdateAdmin", new { id = item.ID }) |
                @Html.ActionLink("Delete", "DeleteAdmin", new { id = item.ID })
            </td>
        </tr>
    }
   
</table>
 <div class="btn btn-warning"><a href="/Admin/AddAdmin" class="btn">Add Admin</a></div>
